{
    ViewData["Title"] = "Game";
}

    <style type="text/css">
        .chessboard 
        {
            border: 1vh solid #333;
        }

        .center 
        {
            margin: auto;
        }

        .tile
        {
            height: 50px; 
            width: 50px; 
        }

        .testGrey 
        {
            background: #6F6F6FBD;
        }

        .testWhite
        {
            background: #ffffffb3;
        }

        

    </style>

    <div style="height: 31vh; margin: 0 0 0 0;">
        <div id="imageContainer" style="background: white; height: 100%; width: 30vw; float: left;">
            <!--Hier kommt dann das Bild rein-->
        </div>
        <div style="height: 100%; width: 70vw; margin: 0 0 0 0; background: green; float: left;">
            <!--Hier kommen die Einheiten Infos rein-->
        </div>
    </div>
    <table class="center chessboard" style="margin: auto;">
        <tr style="width: 100%; height: 6vh;">
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
        </tr>
        <tr style="width: 100%; height: 6vh;">
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
        </tr>
        <tr style="width: 100%; height: 6vh;">
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
        </tr>
        <tr style="width: 100%; height: 6vh;">
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
        </tr>
        <tr style="width: 100%; height: 6vh;">
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
        </tr>
        <tr style="width: 100%; height: 6vh;">
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
        </tr>
        <tr style="width: 100%; height: 6vh;">
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
        </tr>
        <tr style="width: 100%; height: 6vh;">
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
        </tr>
        <tr style="width: 100%; height: 6vh;">
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
        </tr>
        <tr style="width: 100%; height: 6vh;">
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
            <th class="tile testWhite"></th>
            <th class="tile testGrey"></th>
        </tr>
    </table>
