@{
    ViewData["Title"] = "Home Page";
}

    <center style="padding-top: 2vh;">
        <img src="~/images/logo.png" height="250" width="700">
    </center>
    <div style="text-align: center; padding-top: 5vh;">
        <button style="margin: 10px 10px 10px 10px; height: 10vh; width: 30vw; background: #555454; border-radius: 20px; font-size: 45pt; color: #C00000;">Start game</button><br>
        <button style="margin: 10px 10px 10px 10px; height: 10vh; width: 30vw; background: #555454; border-radius: 20px; font-size: 45pt; color: #C00000;">Options</button><br>
        <button style="margin: 10px 10px 10px 10px; height: 10vh; width: 30vw; background: #555454; border-radius: 20px; font-size: 45pt; color: #C00000;" onclick="window.close();">Exit</button>
    </div>
    
