@{
    ViewData["Title"] = "All Nations";
}

<center style="padding-top: 2vh;">
    <img src="~/images/logoWarfare.png" height="250" width="700">
</center>
<div style="text-align: center; padding-top: 5vh;">
    
</div>
